[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/mock/bla/lib/forge-std"]
	path = test/mock/bla/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "AavePoolImplementation/lib/forge-std"]
	path = AavePoolImplementation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
